// font-size
.text-xl{font-size:$font-size-xl;} //64px
.text-l{font-size: $font-size-l;} //32px
.text-m{font-size: $font-size-m;} //20px
.text-s{font-size: $font-size-s;} //16px
.text-bold{font-weight: bold;}
.border-button{border-bottom: 1px solid #000;}
   

@mixin text-hide{
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
//bg-Conver
.bg-Cover{
    background-size: cover;
    background-position: center center;
}

   


