.Logo{ background-image: url(../images/week6/d’Perfumewhite.png);}
.footer-Logo{
    background-image: url(../images/week6/d’Perfumewhite.png);
    width: 128px;
    height: 38px;
    @include text-hide;
}
