.product-Navber {
    padding: 14px 0px;
    .navber-Group{
        margin-right: 28px;
    }
    .navber-link{
        color:#fff;
        text-decoration: none;
    }
}
.product-Img-m{
    width: 255px;
    height: 255px;
    object-fit: cover;
}
.card-link{text-decoration:none;}
   
