<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="assets/style/hovercss/hover.css">
</head>

<body>
  <!-- navbar -->
  <nav class="container navbar navbar-expand-md navbar-light px-0">
    <!-- logo -->
    <a href="index.html">
      <h1 class="navbar-Logo">
          D'Perfume
      </h1>
    </a>
    <div class="d-flex ">
      <div class="cart-message d-md-none">
        <a href="#" class="material-icons nav-link text-secondary">
          shopping_cart
        </a>
      </div>
      <!-- 漢堡選單 -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  
    <!-- 導覽列 -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown" d-flex>
      <ul class="navbar-nav  ml-auto">
        <!-- Product -->
        <li class="nav-item d-flex align-items-center hvr-wobble-horizontal">
          <a href="product.html" class="material-icons nav-link d-none d-md-block text-secondary ">
            add_business
          </a>
          <a class="nav-link h5 mb-0 p-md-0 " href="product.html">Product</a>
        </li>
        <!-- log in -->
        <li class="nav-item  d-none d-md-flex align-items-center hvr-wobble-horizontal">
          <a href="login.html"class="material-icons  nav-link d-none d-md-block text-secondary">
            person
          </a>
          <a class="nav-link h5 mb-0 p-md-0" href="login.html">log in</a>
        </li>
        <!-- Wishlist -->
        <li class="nav-item d-flex align-items-center hvr-wobble-horizontal">
          <a href="#" class="material-icons  nav-link d-none d-md-block text-secondary">
            favorite
          </a>
          <a class="nav-link h5 mb-0 p-md-0" href="#">Wishlist</a>
        </li>
        <!-- Cart -->
        <li class="nav-item d-none d-md-flex align-items-center hvr-wobble-horizontal">
          <a href="#" class="material-icons nav-link d-none d-md-block text-secondary">
            shopping_cart
          </a>
          <a class="nav-link h5 mb-0 p-0" href="#">Cart(3)</a>
        </li>
        <!-- blog -->
        <li class="nav-item d-block d-md-none">
          <a class="nav-link h5  mb-0 pl-0" href="#">Blog</a>
        </li>
        <!-- Contact -->
        <li class="nav-item d-block d-md-none">
          <a class="nav-link h5 mb-0 pl-0 " href="#">Contact</a>
        </li>
        <!-- Mypage -->
        <li class="nav-item d-block d-md-none">
          <a class="nav-link h5 mb-0 pl-0 " href="#">Mypage</a>
        </li>
        
        
      </ul>
    </div>
  </nav>
  <!--product-Navber-->
  <section class="bg-dark-brown d-none d-md-block">
    <nav class="container">
        <ul class="list-unstyled product-Navber d-flex text-m">
            <li class="navber-Group"><a href="#" class="navber-link">CHANEL</a></li>
            <li class="navber-Group"><a href="#" class="navber-link">Jo Malone</a></li>
            <li class="navber-Group"><a href="#" class="navber-link">Curology</a></li>
            <li class="navber-Group"><a href="#" class="navber-link">Dior</a></li>
            <li class="navber-Group"><a href="#" class="navber-link">Chloe</a></li>
            <li class="navber-Group"><a href="#" class="navber-link">ZARA</a></li>
        </ul>
    </nav>
  </section>
  <%- contents %>
  <!-- footer -->
  <section class="footer bg-dark-brown"> 
      <div class="container py-2">
        <div class="d-flex justify-content-between">
            <!-- footer-logo -->
            <div class="d-flex align-items-center">
              <a href="index.html">
                <h1 class="footer-Logo m-0 mr-m">
                    D'Perfume
                </h1>
              </a>
              <small class="text-white">© 2020. All Rights Reserved.</small>
            </div>
            <!-- navbar -->
            <ul class="list-unstyled d-none d-md-flex m-0 align-items-center">
              <li class="mr-l">
                <a href="#"class="text-white">Product</a>
              </li>
              <li class="mr-l">
                <a href="#"class="text-white">Blog</a>
              </li>
              <li class="mr-l">
                <a href="#"class="text-white">Contact</a>
              </li>
            </ul>
        </div>
      </div>
  </section>
  
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
</body>

</html>
